  <body>  
  <% layout("/layouts/boilerplate") -%>
  <div class="row ">
        <div class="col-5 offset-3 ">
       
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT "  novalidate class="needs-validation " enctype="multipart/form-data">  
                <div class="mb-3">
                <label for="title" class="form-lavel">Title</label>
                <input type="text]" name="listing[title]" value="<%= listing.title %>" id="title" placeholder="Enter title" class="form-control" required>
                <div class="valid-feedback">
                        look's good 
                </div>
                <div class="invalid-feedback">
                         Title required
                </div>
        </div>
        <div  class="mb-3">
                <label for="description" class="form-lavel">Description</label>
                <textarea name="listing[description]"  id="description" class="form-control" placeholder=" Enter Description" required> <%= listing.description %> </textarea>
           
                <div class="invalid-feedback">
                         please enter  Description
                </div>
        </div>  
         <div class="mb-2">
                <img src="<%=listing.image.url%> " class="img-fluid edit-preview" alt="upload img is not showing">       
        </div>        

        <div  class="mb-3">
                <label for="img" class="form-lavel">Image</label>
                <input type="file" name="listing[image]" value="<%=listing.image.url%>" class="form-control" placeholder="Upload Image" id="img">
            <div class="invalid-feedback">
                         please upload image
                </div>
        </div>       
         <div class="row">
                <div  class="mb-3 col-md-4">
              <label for="price" class="form-lavel">Price</label>
              <input  name="listing[price]" value="<%= listing.price %>" id="price" class="form-control" placeholder="Enter price" required>
           <div class="invalid-feedback">
                         please enter valid price in letter
                </div>
            </div>
        
       <div class="mb-3 col-md-8">
              <label for="Country" class="form-lavel">Country</label>
               <input type="text" name="listing[country]" value="<%= listing.country %>" id="Country" class="form-control" placeholder="Country" required>
              </div>
              <div class="invalid-feedback">
                         please enter country name
                </div>
     </div> 
      
       <div class="mb-3">
              <label for="location" class="form-lavel">location</label>
               <input type="text" name="listing[location]" value="<%= listing.location %>" id="location" class="form-control" placeholder="location" required>
       </div>
            <div class="invalid-feedback">
                         please enter location name
                </div>
         <button class="btn btn-dark add-btn">Add</button>
         </form>

 </div>
 </div>
</body>







        